/* Element de base */
html, body {
    background: var(--default);
}

:root {
    --default: #121213;
    --wrong: #d30e00;
    --correct: #2DD618;
    --semi: #b59f3b;
    --empty: #3a3a3c;
}

.green {
    color: var(--correct);
}

.orange {
    color: var(--semi);
}

.red {
    color: var(--wrong);
}

.light-green {
    color: #abffce;
}

.cyan {
    color: #06a7ac;
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Grille de jeu */

#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

.box {
    width: 120px;
    height: 120px;
    margin: 4px;
    border: 2px solid var(--empty);
    color: white;
    text-transform: uppercase;
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    animation: appear 0.5s ease forwards;
    opacity: 0;
}

.box span {
    text-align: center; /* Centrer le texte à l'intérieur du span */
}

.box.wrong {
    background: var(--wrong);
}

.box.semi {
    background: var(--semi);
}

.box.correct {
    background: var(--correct);
}

.hidden {
    visibility: hidden; /* Pour cacher la case */

    padding: 0; /* Aucun remplissage */
    border: none; /* Aucune bordure */
    background: transparent; /* Fond transparent */
    pointer-events: none; /* Ignorer les événements de pointage (par exemple, clics) */

    width: 120px;
    height: 120px;
    margin: 4px;
    border: 2px solid var(--empty);
    text-transform: uppercase;
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.hidden span {
    visibility: visible; /* Rendre le texte visible */
    text-decoration: underline;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%; 
    padding-left: 20%; /* (100% - width) / 2 */
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    width: 50%;
}

#guess-input {
    padding: 15px; /* Ajustez le rembourrage pour correspondre à celui de la barre de recherche */
    border: 2px solid #ccc;
    border-radius: 8px;
    flex: 1;
    margin-right: 3%;
    font-size: 16px;
}

#submit-guess {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px; /* Ajustez le rembourrage pour correspondre à celui du bouton de soumission */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

#submit-guess:hover {
    background-color: #45a049;
}

.suggestions-list {
    max-height: 200px; /* Limitez la hauteur de la liste des suggestions pour la faire défiler si elle est trop longue */
    overflow-y: auto; /* Ajoutez un défilement vertical si nécessaire */
    border: 2px solid #ccc; /* Ajoutez une bordure */
    border-radius: 5px; /* Ajoutez un arrondi aux coins */
    padding: 5px; /* Ajoutez un espace intérieur */
    background-color: #fff; /* Ajoutez une couleur de fond */
    width: 30%;
    margin-right: 10px; /* Ajustez la marge droite pour correspondre à celle du bouton de soumission */
    position: fixed;
    z-index: 100;
    display: none;
    margin-top: 5%;
    top: 30%;
}

.suggestions-list div {
    padding: 8px;
    cursor: pointer; /* Changez le curseur au survol */
}

.suggestions-list div:hover {
    background-color: #f0f0f0; /* Changez la couleur de fond au survol */
}

/* Ajuster la taille des images à côté des noms des personnages */
.sugg-img {
    width: 40px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Ajustez la hauteur de l'image selon vos besoins */
    margin-right: 120px; /* Ajouter une marge à droite pour séparer l'image du texte */
}


header {
    display: flex;
    justify-content: center; /* Centrer horizontalement les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

.logo-container {
    margin: 0 20px; /* Espacement entre le logo et les boutons */
}

.logo-container img { /* Taille du logo */
    width: 150px;
    height: auto; 
}

.buttons {
    font-size: 36px; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.box.lower {
    background: var(--wrong);
    clip-path: polygon(97% 60%, 85% 60%, 85% 5%, 15% 5%, 15% 60%, 3% 60%, 50% 95%);
}

.box.higher {
    background: var(--wrong);
    clip-path: polygon(97% 40%, 85% 40%, 85% 95%, 15% 95%, 15% 40%, 3% 40%, 50% 5%);
}

.image {
    width: 120px; /* Ajustez la largeur de l'image selon vos besoins - Meme que box */
    height: 120px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1000px; 
    height: 60%; /* Hauteur de la popup */
    max-height: 80vh; /* Hauteur maximale de la popup */
    overflow-y: auto; /* Activation du défilement vertical si le contenu dépasse */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
    margin-top: 0;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-top: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.close-button:hover {
    color: #000;
}

.prop {
    font-size: 1.2rem;
}

.blur {
    filter: blur(30px);
    width: 300px;
    height: 300px;
}

#hint-button {
    width: 8%;
    height: 8%;
    margin-right: 3%;
}

.hint-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 59;
    background: var(--semi);
    top: 35%;
}

.close-icon {
    position: absolute; /* Position absolue pour placer la croix par rapport au conteneur */
    top: 50%; /* Aligner verticalement la croix */
    right: 10px; /* Espacement de la droite */
    transform: translateY(-50%); /* Ajuster la position verticale */
    cursor: pointer; /* Curseur de la souris en forme de main au survol */
}

